@model HaviSzamla.Shop
@{
    ViewData["Title"] = $"Shop {Model.ShopNumber}";
}

<p style="font-size: 25px;position: relative;text-align: right">Név: @Model.ShopName
    <br>Cím: @Model.ShopAddress
    <br>Adószám: @Model.ShopVatNumber
    <br> @Model.Month havi összesítő</p>
<table>
    <tr style="font-weight: bold; font-size: large">
        <td style="padding: 0 100px">Terméknev</td>
        <td style="padding: 0 25px">Ár</td>
        <td style="padding: 0 25px">Egység</td>
        @for (int i = 1; i<= Model.WeeksInMonth; i++)
        {
            <td style="padding: 0 10px">@($"Het{i}")</td>
        }
        <td>Összesen</td>
    </tr>
    @{
        int index = 0;
    }
    @foreach (var product in Model.ListOfItems.OrderBy(product => product.Name))
    {


        string background = string.Empty;
        if (index % 2 == 0)
        {
            background = "background: lightgray";
        }
        
        
        <tr style="text-align: center; @background">@{
                
        <td>@product.Name</td>;
        <td>@product.Price</td>;
        <td>@product.Unit</td>;
        @foreach (var amount in product.AmountPerWeek)
        {
            if (amount is not 0)
            {
                <td>@amount</td>;
            }
            else
            {
                <td>@string.Empty</td>;
            }
        }
        <td>@product.TotalInMonth</td>
            }
        </tr>
        index++;       
    }
    <tr style="font-weight: bold; text-align: center"><td style="padding: 20px 0 0 0">heti osszesen</td><td></td><td></td>
        @foreach (var item in Model.TotalPerWeek)
        {
            <td style="padding: 20px 0 0 0">@($"{item}Ft")</td>
        }
        </tr>
</table>
<p style="font-size: 25px; position: relative;text-align: right">havi összesen <strong>@Model.TotalInMonth Ft</strong></p>


